<div class='table-responsive'>

<table class="table table-striped">
<tr>

  <td class='text-center user'>
    <h4>{{answer.author}}</h4><br />
    <img src='{{answer.profilePic}}' />'<br />
  </td>

  <td class='content'>
    {{answer.content}}
  </td>

</tr>
</table>

</div>
