<h3>New Reply</h3>
<form>
  <div class='form-group'>
    {{textarea cols='100' rows='1' value=author id='author' placeholder='User Name'}}<br />
    {{textarea cols='100' rows='1' value=profilePic id='profilePic' placeholder='Profile Picture URL'}}<br />
    {{textarea cols='100' rows='6' value=content id='content' placeholder='Content'}}<br />
  </div>
  <button class='btn' {{action 'submitReply'}}>Submit</button>
</form>
